.users-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  width: 60%;
  max-width: 60%;
  height: 70px;
  background: #353535;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: left;
  backdrop-filter: blur(10px);
  transition: 0.5s ease-in-out;
  margin: 10px;
}

/* Media query for smaller screens */
@media screen and (max-width: 668px) {
  .card {
    width: 85%; /* Adjust the width for smaller screens */
    max-width: 85%; /* Adjust the max-width for smaller screens */
  }
}

.card:hover {
  cursor: pointer;
  transform: scale(1.05);
}

.img {
  width: 50px;
  height: 50px;
  margin-left: 10px;
  border-radius: 10px;
  background: linear-gradient(#d7cfcf, #9198e5);
}

.card:hover > .img {
  transition: 0.5s ease-in-out;
  background: linear-gradient(#9198e5, #712020);
}

.textBox {
  width: calc(100% - 90px);
  margin-left: 10px;
  color: white;
  font-family: "Poppins" sans-serif;
}

.textContent {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.span {
  /* font-size: 10px; */
}

.h1 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 5px;
}

.p {
  font-size: 12px;
  font-weight: lighter;
  margin-top: 0px;
}

.posts-count {
  font-size: 16px;
  margin-top: 20px;
}

.posts-count span:nth-child(1) {
  font-weight: bold;
  color: #00a5ff;
  padding-left: 10px;
}
.posts-count span:nth-child(2) {
  /* color: blue; */
  padding-left: 10px;
}
